<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cook Books - Recipe Website</title>
    <link rel="stylesheet" th:href="@{/styles/homeStyle.css}">

</head>
<body>
    <nav class="navbar">
        <a href="#" class="logo">Cook Books</a>
        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">Recipes</a>
            <a href="#">Ingredients</a>
            <a href="#">About us</a>
        </div>
    </nav>

    <section class="hero">
        <h1>Unleash Culinary Excellence</h1>
        <p>Explore a world of flavors, discover handcrafted recipes, and let the aroma of our passion for cooking fill your kitchen</p>
        <a href="#" class="explore-btn">Explore Recipes</a>
    </section>

    <div class="featured-recipes">
        <h2 class="section-title">Featured Recipes</h2>
        <div class="recipe-grid">
            
            <div class="recipe-card">
                <div class="image-container">
                    <img src="https://plu.sunsplash.com/premium_photo-1729611735489-fd5de207149e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Savory Herb-Infused Chicken" class="recipe-img">
                </div>
                <div class="recipe-content">
                    <h3 class="recipe-title">Savory Herb-Infused Chicken</h3>
                    <p>Include the rich and savory symphony of flavors with our Savory Herb-Infused Chicken.</p>
                    <div class="recipe-info">
                        <span>40 MIN</span>
                        <span>EASY PREP</span>
                        <span>3 SERVINGS</span>
                    </div>
                </div>
            </div>
            <div class="recipe-card">
                <div class="image-container">
                    <img src="decadent-chocolate-mousse.jpg" alt="Decadent Chocolate Mousse" class="recipe-img">
                </div>
                <div class="recipe-content">
                    <h3 class="recipe-title">Decadent Chocolate Mousse</h3>
                    <p>Dive into the velvety indulgence of our Decadent Chocolate Mousse, a dessert that transcends sweetness.</p>
                    <div class="recipe-info">
                        <span>30 MIN</span>
                        <span>MEDIUM PREP</span>
                        <span>4 SERVINGS</span>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="section-title">Recipes from our Community</h2>
        <th:block th:each="feature : ${featured}">
            <tr>
                <div class="recipe-grid">
                    <div class="recipe-card">
                        <div class="image-container">
                            <img th:src="@{${feature.mainImage}}">
                        </div>
                        <div class="recipe-content">
                            <div class ="nama">test<td th:text="${feature.author.username}"></td></div>
                            <h3 class="recipe-title">Savory Herb-Isnfused Chicken<td th:text="${feature.tittle}"></td></h3>
                            <p>Include the rich and savory symphony of flavors with our Savory Herb-Infused Chicken.<td th:text="${feature.description}"></td></p>
                            <div class="rating">
                                icon <td th:text="${feature.rating}"></td>
                            </div>
                            <div class="recipe-info">
                                <span>40 MIN</span>
                                <span>EASY PREP</span>
                                <span>3 SERVINGS</span>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
    </div>
    
    <footer>
        <p>Copyright: © 2024 Cook Books</p>
    </footer>
</body>
</html>