<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" th:href="@{/styles/style_profile.css}">
</head>
<body>
    <div class="profile-container">
        <div class="profile-header">
            <img th:src="@{${user.profilePic}}" alt="Profile Picture" class="profile-pic">
            <div class="profile-username">
                <h2 class="username" id="username" th:text="${user.username}">USERNAME</h2>
                <p class="user-meta" id="user-meta" th:text="'@' +${user.imdbId}">@usernameid</p>
                <a href="/logout" class="edit-btn" id="logout-btn" th:if="${isUser == true}">LOG OUT</a>
            </div>
        </div>

        <div class="recipe-section">
            <div class="section-header">
                <h3 class="my-recipe">MY RECIPE</h3>
                <button class="add-btn" th:if="${isUser == true}"><a href="/recipes/createRecipe">+</a></button>
                
            </div>
            <div class="recipe-list" th:if="${myRecipeNull == false}">
                <th:block  th:each="myrecipe : ${myrecipes}">
                    <div class="recipe-card">
                        <img th:src="@{/data/user/image1.jpeg}" alt="Lemon Garlic Grilled Chicken" class="recipe-img">
                        <p class="recipe-author" th:text="${myrecipe.author.username}">By: Chef John</p>
                        <h4 class="recipe-title" th:text="${myrecipe.tittle}">Lemon Garlic Grilled Chicken</h4>
                        <p class="recipe-description" th:text="${myrecipe.Description}" >A delicious grilled chicken recipe with lemon and garlic flavors to excite your taste buds.</p>
                        <div class="rating">
                            <span class="rating-icon">&#9733;</span>
                            <span th:text="${myrecipe.rating}">4.5 </span>
                        </div>
                        <p class="recipe-meta"> </p>
                            <span th:text="${myrecipe.cookTime}" > 1 hour</span> &bull;
                            <span th:text="${myrecipe.prepCategory}"> Easy Prep</span> &bull;
                            <span th:text="${myrecipe.servings}"> 4 servings</span>
                    </div>
                </th:block>
            </div>
        </div>

        <div class="bookmark-section">
            <div class="section-header">
                <h3 class="bookmark-title">SAVED RECIPE</h3>
            </div>
            <div class="recipe-list" th:if="${bookmarksNull == false}" >
                <th:block th:each="bookmark : ${bookmarks}">
                    <div class="recipe-card">
                        <img th:src="@{/data/user/image1.jpeg}" alt="Lemon Garlic Grilled Chicken" class="recipe-img">
                        <p class="recipe-author" th:text="${bookmark.author.username}">By: Chef John</p>
                        <h4 class="recipe-title" th:text="${bookmark.tittle}">Lemon Garlic Grilled Chicken</h4>
                        <p class="recipe-description" th:text="${bookmark.Description}" >A delicious grilled chicken recipe with lemon and garlic flavors to excite your taste buds.</p>
                        <div class="rating">
                            <span class="rating-icon">&#9733;</span>
                            <span th:text="${bookmark.rating}">4.8</span>
                        </div>
                        <p class="recipe-meta"> </p>
                            <span th:text="${bookmark.cookTime}">30 min</span> &bull;
                            <span th:text="${bookmark.prepCategory}">Medium Prep</span> &bull;
                            <span th:text="${bookmark.servings}">2 servings</span>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</body>
</html>
