<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="styles/style_profile.css">
</head>
<body>
    <div class="profile-container">
        <div class="profile-header">
            <img src="style/siuu.jpg" alt="Profile Picture" class="profile-pic">
            <div class="profile-username"> 
                <h2 class="username">USERNAME</h2>
                <p class="user-meta">@usernameid</p>
                <a href="/logout" class="edit-btn">LOG OUT</a>
                <p class="user-stats">0 followers 0 following</p>
            </div>
        </div>
        <div class="recipe-section">
            <h3 class="my-recipe">MY RECIPE</h3>
            <div class="no-activity">
                <img src="style/Group.png" alt="logo resep" class="iconpic">
                <h1>THERE IS NO COOKING ACTIVITY YET</h1>
                <form action="addRecipe.html" method="get">
                    <button class="upload-btn" >ADD RECIPE</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
