<!DOCTYPE html>
<html>
<head>
	<title>We Are Cooking</title>
	<link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">

</head>
<body>

	<header>
		<img src="./images/logo.png">
	</header>

	<div id="content-container">
		
		<div class="content">
			<div class="heading">
				<h2>Chicken, Pomegranate and Spinach Salad</h2>
				<p>Welcome to Cooks Delight, where culinary dreams come alive! Today, we embark on a journey of flavors with a dish that promises to elevate your dining experience - our Citrus Infusion Delight: Lemon Garlic Roasted Chicken.</p>
				<div class="recipe-meta">
					<span>⏱ 1 Hour</span>
					<span>⚡ Hard Prep</span>
					<span>🍴 4 Serves</span>
				</div>
				<sup>Recipe by <a href="http://www.filmoreandunion.com/recipe-of-the-week-chicken-pomegranate-and-spinach-salad/">Filmore &amp; Union</a>, July 2015</sup>
			</div>
			<div class="banner">
				<img th:src="@{${'http://localhost:8080/' + data.mainImage}}">
			</div>
			<div class="intro">
				<p></p>
				<p>Picture succulent chicken infused with the bright notes of lemon and the aromatic richness of garlic. It's a symphony of flavors that will have your taste buds dancing. Join us as we delve into the art of roasting and uncover the secrets behind creating a masterpiece that's not just a meal but a celebration of culinary craftsmanship.</p>
				<p>As you preheat your oven, envision the kitchen filling with the tantalizing aroma of herbs and citrus, setting the stage for a delightful meal that transcends the ordinary. The anticipation builds as the chicken roasts to golden perfection, promising a dining experience that marries simplicity with sophistication. Whether you're a seasoned chef or a kitchen novice, this recipe invites you to become a culinary artist, creating a masterpiece that will leave a lasting impression on your guests and loved ones.</p> 
				<hr>

				<h3>Let’s go over the basics– the do’s, and the don’ts– for How to Cook a chicken</h3>
				<h4>DO'S</h4>
				<Ul>
					<li>
						<h5 class="par1">Thoroughly Clean Hands and Surfaces: </h5>
						<a>Before and after handling raw chicken, ensure your hands, utensils, and surfaces are clean to prevent cross-contamination.</a>
						<p>&nbsp</p>
						<h5>Use Separate Cutting Boards:  </h5>
						<a>Dedicate specific cutting boards for raw chicken to avoid the spread of bacteria to other foods.</a>
						<p>&nbsp</p>
						<h5>Thaw Chicken at Room Temperature: </h5>
						<a>Avoid thawing chicken on the counter. Instead, thaw it in the refrigerator to prevent bacterial growth. </a>
						<p>&nbsp</p>
						<h5>Overcrowd the Pan: </h5>
						<a>When roasting, ensure the chicken pieces have space between them for even cooking. Overcrowding can lead to unevenly cooked chicken.</a>
					</li>
				</Ul>
				<P>&nbsp</P>
				<P>&nbsp</P>
				<h4>DON'TS</h4>
				<ul>
					<li><h5 class="par1">Thoroughly Clean Hands and Surfaces: </h5>
						<a>Before and after handling raw chicken, ensure your hands, utensils, and surfaces are clean to prevent cross-contamination.</a>
						<p>&nbsp</p>
						<h5 class="par1">Thaw Chicken at Room Temperature: </h5>
						<a>Avoid thawing chicken on the counter. Instead, thaw it in the refrigerator to prevent bacterial growth.</a>
						<p>&nbsp</p>
						<h5 class="par1">Overcrowd the Pan:  </h5>
						<a>When roasting, ensure the chicken pieces have space between them for even cooking. Overcrowding can lead to unevenly cooked chicken.</a>
						<p>&nbsp</p>
					</li>
				</ul>
				<hr>

				<h3>INSTRUCTIONS</h3>
				<Ul>
					<li>This recipe goes beyond the basics, inviting you to savor the richness of a creamy tomato basil sauce that clings to each strand of perfectly cooked pasta. It's a celebration of simplicity, where every ingredient plays a crucial role in creating a dish that is as comforting as it is delightful.</li>
					<P>&nbsp</P>
					<li>Allow the chicken to rest for 10 minutes before carving. This brief resting period is essential; it allows the juices to redistribute, ensuring each slice is succulent and bursting with flavor. As you carve into the golden exterior, be prepared for the enticing aroma that fills the air, signaling that your Citrus Infusion Delight is ready to be savored.</li>
					<P>&nbsp</P>
					<li>
						<h4>Preheat and Prepare</h4>
						<ol>
							<li>thawing chicken on the counter. Instead, thaw it in the refrigerator to prevent bacterial growth.</li> 
							<li>Rinse the chicken inside and out, then pat it dry with paper towels.</li> 
						</ol>
						<p>&nbsp</p>
					</li>
					<li>
						<h4>Citrus Infusion</h4>
						<ol>
							<li>Carefully lift the skin of the chicken and rub minced garlic directly onto the meat.</li>
							<li>Place lemon slices under the skin, ensuring they cover as much surface as possible.</li>
						</ol>
						<p>&nbsp</p>
					</li>
					<li>
						<h4>Herb Blend</h4>
						<ol>
							<li>In a small bowl, mix olive oil, dried thyme, dried rosemary, salt, and black pepper to create a herb-infused mixture.</li>
							<li>Brush the entire chicken with the herb-infused mixture, making sure it's evenly coated.</li>
							<li>Season the exterior with additional salt and black pepper to taste.</li>
						</ol>
						<p>&nbsp</p>
					</li>
					<li>
						<h4>Roast to Perfection</h4>
						<li> the chicken in a roasting pan, breast side up.</li>
						<li>Roast in the preheated oven for approximately 1 hour or until the internal temperature reaches 165°F (74°C).</li>
						<li>Allow the chicken to rest for 10 minutes before carving.</li>
						<li>Serve with the pan juices and roasted lemon slices for an extra burst of flavor.</li>
						<p>&nbsp</p>
					</li>
					<li>
						<h4>Pairing Suggestions</h4>
						<ol>
							<li>Side Dish: Serve alongside roasted vegetables or a simple green salad.</li>
							<li>Wine: Pair with a crisp white wine or a light rosé for a well-balanced meal.</li>
						</ol>
						<p>&nbsp</p>
					</li>
				</Ul>

				<hr class="last">
			</div>
			<div class="shop">
				<h3>Ingredients</h3>

				<strong>For the marinade:</strong>

				<ul>
					<li>2 tbsp freshly squeezed lemon juice</li>
					<li>1 tsp fresh oregano, chopped</li>
					<li>1 tsp garlic, crushed</li>
					<li>Pinch of salt and pepper to taste</li>
				</ul>

				<strong>For the salad:</strong>
				<ul>
					<li>6oz baby spinach</li>
					<li>4 chicken breasts</li>
					<li>Handful of pomegranate arils</li>
					<li>&frac12; red onion, thinly sliced</li>
					<li>1 avocado, chopped</li>
				</ul>

				<strong>For the dressing:</strong>
				<ul>
					<li>1 tbsp balsamic vinegar</li>
					<li>1 tsp raw honey</li>
					<li>2 tbsp extra virgin olive oil</li>
					<li>Salt and pepper, to taste</li>
				</ul>
							
				
			</div>
			<div class="authorRecipe">
				<img href=""> gambar author
				<a link="">nama author</a>
			</div>
		</div>
		<div class="addRecipe">
			
		</div>
	</div>

	<footer>
		<div class="credits">Made for "The Iron Yard" | Images: Pexels.com | Recipe: filmoreandunion.com</div>
	</footer>

</body>
</html>