<!DOCTYPE html>
<html>
<head>
	<title>Recipe</title>
	<link rel="stylesheet" type="text/css" th:href="@{/styles/styleRecipe/style.css}">
	<script type="module" src="https://cdn.jsdelivr.net/npm/microsoft-cognitiveservices-speech-sdk@latest/distrib/browser/microsoft.cognitiveservices.speech.sdk.bundle-min.js"></script>
</head>
<body>

	<header>
		<div class="logo">
			Cook
			<span>Books</span>
		</div>
		<nav>
			<ul>
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/recipes/findRecipe}">Ingredients</a></li>
				<li><a th:href="@{/profile}">Profile</a></li>
			</ul>
		</nav>
		<div class="search">
            <form th:action="@{/recipes/findRecipe}" th:object="${find}" method="post">
                <input type="text" name="find" id="STT" placeholder="Search...">
                <button id="startRecognizeOnceAsyncButton">
                    <svg id="micIcon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
                        <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0z"/>
                        <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5"/>
                    </svg>
                </button>
                <button class="anu" type="submit">Search</button>
            </form>
        </div>
	</header>

	<div id="content-container">
		<div class="content">
			<div class="heading">
				<h2 class="titleRecipe" th:text="${data.tittle}"></h2>
				&nbsp
				<div class="recipe-meta">
					<div th:text="${data.cookTime+' Minutes'}"></div>
					<div th:text="${data.prepCategory}"></div>
					<div th:text="${data.servings+' Servings'}"></div>
				</div>
			</div>
			<div class="banner">
				<img th:src="${data.mainImage}">
			</div>
			<div class="intro">
				<div class="description">
					<p th:text="${data.description}"></p>
				</div>
				<div class="instructions">
					<h3>INSTRUCTIONS</h3>
					<div class="instructions-body">
						<th:block th:each="inst, istat : ${data.body}">
							<div class="area-instructions">
								<div th:if="${data.images[istat.index] != ''}" class="instructions-images">
									<img th:src="@{${data.images[istat.index]}}">
								</div>
								<p th:text="${inst}" class="body-instruction"></p>
							</div>
						</th:block>
					</div>
				</div>

					&nbsp
					&nbsp
					
					<div class="Bookmark" name="Bookmark" th:if="${isLoggedIn == true}">
						<div class="d-flex justify-content-center align-items-center vh-100">
							<a th:href="${hasBookmarked == true}  ? @{'/recipes/'+ ${imdbId} +'/removeBookmark'} : @{'/recipes/'+ ${imdbId} +'/addBookmark'}">
								<button class="btn custom-button">
								<span class="bookmarkText" th:text="${hasBookmarked == true ? 'REMOVE BOOKMARK' : 'ADD BOOKMARK'}">ADD BOOKMARK</span>
								<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bookmarks icon-icon" viewBox="0 0 16 16">
									<path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1z"/>
									<path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1"/>
								</svg>
								</button>
							</a>
						</div>
					</div>

					&nbsp

					<div class="rating-container" th:if="${isLoggedIn == true}">
						<form id="ratingForm" method="POST" th:object="${rating}" th:action="@{'/recipes/'+ ${imdbId} +'/addRating'}">
							<div class="star-rating">
								<input type="radio" id="star5" name="rating" value="5" th:checked="${userRating == 5 ? true:false}">
								<label for="star5"></label>
								<input type="radio" id="star4" name="rating" value="4" th:checked="${userRating == 4 ? true:false}">
								<label for="star4"></label>
								<input type="radio" id="star3" name="rating" value="3" th:checked="${userRating == 3 ? true:false}">
								<label for="star3"></label>
								<input type="radio" id="star2" name="rating" value="2" th:checked="${userRating == 2 ? true:false}">
								<label for="star2"></label>
								<input type="radio" id="star1" name="rating" value="1" th:checked="${userRating == 1 ? true:false}">
								<label for="star1"></label>
							</div>
							<div th:if="${userRating == 0}">
								<button type="submit" class="submit-btn">Kirim Rating</button>
							</div>
						</form>
					</div>

					&nbsp

					<div class="ownerInformation" name="ownerInformation">
						<div class="profile-card">
							<img th:src="${data.author.profilePic}" alt="Profile Image" class="profile-image" />
							<div class="profile-content">
							  <h2 th:text="${data.author.username}" class="profile-name"></h2>
							  <a class="learn-more-button" th:href="@{'/account/'+${data.author.imdbId}}">Learn More</a>
							</div>
						</div>
					</div>

					
					  
				
			</div>
			<div class="shop">
				<h3>Ingredients</h3>
					<th:block th:each="ingr, istat : ${data.ingredients}">
						<div class="area-ingredients">
							<p th:text="${ingr}" class="body-ingredients"></p>
						</div>
					</th:block>
			</div>
		</div>
		
		<section class="comments-section">
			<h2 class="comments-title">Comments</h2>
			
			<!-- Form untuk menambah komentar baru -->
			<form class="comment-form" th:if="${isLoggedIn == true}" method="POST" th:object="${payload}" th:action="@{'/recipes/'+ ${imdbId} +'/createComment'}">
			  <textarea name="payload" class="comment-input" placeholder="Write a comment..." rows="4"></textarea>
			  <button class="comment-submit">Post Comment</button>
			</form>
		  
			<!-- List komentar -->
			<th:block th:each="comment : ${data.comments}">
				<div class="comment">
					<div class="comment-content">
						<strong th:text="${comment.author.username}"></strong>
						<p th:text="${comment.body}"></p>
					</div>
				</div>
			</th:block>
		</section>
	</div>
	<script th:src="@{/Javascript/STT.js}"></script>
	<footer>
        <p>Copyright: © 2024 Cook Books</p>
    </footer>
	<style>
		footer {
			background: #333;
			color: white;
			text-align: center;
			padding: 1rem;
			margin-top: 4rem;
			position:relative;
			bottom: 0;
			width: 100%;
			height: 50px;
		}
	</style>
</body>
</html>