<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cook Books - Recipe Website</title>
    <link rel="stylesheet" href="./styles/styleSign.css">
</head>
<body>
    <nav class="navbar">
        <a href="#" class="logo"><img src="D:\NYOBA\image\Logo Nav Bar.jpg"></a>
        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">Recipes</a>
            <a href="#">Ingredients</a>
            <a href="#">About us</a>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <section>
        <div  th:if="${user != 'Guest'}">
            <p th:text="${user}"></p>
        </div>
        <div class="signup-container">
            <div class="signup-header">
                <img src="D:\NYOBA\image\Logo Nav Bar.jpg">
            <h1>SIGN UP</h1>
            <p>Please enter your name, email and password</p>
            </div>
            <form action="#" th:action="@{/sign}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter username" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm password" required>
            </div>
            <button type="submit" class="signup-btn">SIGN UP</button>
            </form>
        </div>
    </section>



    <footer>
        <p>Copyright: © 2024 Cook Books</p>
    </footer>
</body>
</html>