.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: hsl(0, 0%, 98%);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 720px;
    height: 300px;
    padding: 15px;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.1); ;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  .upload-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    

    
  }
  /* .recipe-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  } */
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .ingredient-row,
  .step-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .ingredient-row input,
  .step-row textarea {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .add-btn {
    background-color: hsl(0, 0%, 98%);
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }

  .col{
    padding: 8px 12px;
  }
